numpy==2.0.2
numba==0.61.0
matplotlib
hydride
biotite
pydssp
logomaker
gemmi==0.6.5
scikit-learn
hydra-core
edit_distance
rdkit
pandas
pdbeccdutils
einx
einops
mashumaro
nvidia-ml-py>=12.535.133
cuequivariance_ops_cu12>=0.5.0
cuequivariance_ops_torch_cu12>=0.5.0
cuequivariance_torch>=0.5.0
huggingface_hub
biopython
boltzgen
pytorch-lightning
torchvision
torchaudio